* {
	margin: 0px;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	font-family: Verdana; 
}
.void {
	height: 100vh;
	display: block;
	background: url(../images/SD_Dark_Color.jpeg) no-repeat fixed; 
	background-size: 100%;
}

.static {
	opacity: 0;
}
.container.intro {
	text-align: center;
	display: block; 
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

span.intro {
	display: block;
	text-transform: uppercase; 
}
#name-intro {
	color: #cccccc;
	font-size: 55px;
	font-weight: bold;
	margin-bottom: 0.5%;
	animation: intro 3s 1; 
}
#title-intro {
	font-size: 25px;
	font-weight: normal;
	color: #330000;
	animation: intro-title 3s 1; 
}
@keyframes intro {
	0% {
		opacity: 0;
		margin-bottom: -1%;
	}
	25% {
		opacity: 0.3;
		letter-spacing: 6px;
		margin-bottom: -1%;
	}
}
@keyframes intro-title {
	0% {
		color: transparent;
	}
	75% {
		color: transparent;
	}
}

.navbar {
	position: fixed;
	top: 50%;
	transform: translate(0%, -50%);
	width: 13%;
}
a.nav {
	width: 100%;
	margin-left: -50%;
	text-align: left;
	font-size: 25px;
	display: block;
	text-decoration: none;
	padding-bottom: 5%;
	padding-top: 5%;
	padding-left: 15%;
	margin-bottom: 10%;
	border-radius: 6px;
	color: transparent;
	transition: 0.5s all; 
}
a.nav:hover {
	margin-left: -10%;
	color: #ffffff;
}
.top-left {
	left: 0;
	margin-left: 5%;
	margin-top: 1%;
	position: fixed;
	width: 100%;
	overflow: hidden;
}
.name-top {
	width: auto;
	display: inline-block;
	color: #cccccc;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 0.3%;
	margin-bottom: 0.3%;
	border-bottom: 2px solid #003380;
}
.title-top {
	display: block;
	font-size: 15px;
	font-weight: normal;
	color: #330000;
}

.section-title {
	display: block;
	text-transform: uppercase; 
	color: #ffffff;
	font-size: 45px;
	letter-spacing: 5px;
	font-weight: 600;
	text-align: center;
	padding-top: 15%; 
}
.section-text {
	display: block;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 10%;
	color: #ffffff;
	font-size: 25px;
}

section.about {
	height: 100vh;
	display: block;
	background: url(../images/niagara_falls_me.jpeg) no-repeat fixed; 
	background-size: 100%;
}
.about-wrapper {
	width: 40%;
	text-align: center;
	margin-right: 50%;
	margin-left: 10%;
}

p.about {
	color: black;
	width: 100%;
	margin: 0;
	padding: 0;
	margin-top: 10%;
}

.ye {
	height: 100vh;
	display: block;
	background: url(../images/Nice_View_BW.jpeg) no-repeat fixed; 
	background-size: 100%;

}
section.projects {
	height: 100vh;
	display: block;
	background: url(../images/macbook_white_back.jpg) no-repeat fixed; 
	background-size: 100%;
}
.section-title.projects {
	color: black;
	padding-top: 5%;
}

.projects.grid {
	display: grid;
	width: 80%;

	height: 50%;

	text-align: center;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: repeat(3, 1fr);
	grid-area: "TempIt CountUp Yeah";
}
.projects.box {
	width: 90%;
	height: 180px;
	overflow: scroll;
	margin-left: auto;
	margin-right: auto;
	grid-row-gap: 20px;
	background-color: #e6e6e6;
	border-radius: 5px;
}
.project.title {
	background-color: black;
	color: white;
	height: 25%;
	display: flex;
	justify-content: center; 
	align-items: center; 
	font-size: 25px;
	letter-spacing: 0.3em;
}
.project.description {
	margin: 5%;
}
button.project.more {
	color: #003380;
	background: none;
	border: none;
	bottom: 0;
	transition: color 0.3s linear;
	font-size: 15px;
}
button.project.more:hover {
	color: #0080ff;
}


/*
html {
	height: 100%;
}
body {
	font-family: MuseoSans;
	background: url(../images/me-background_B&W.jpg) no-repeat fixed; 
	background-size: 100%;
	background-color: black;
	height: 100%;
}


.name-header {
	color: rgb(230, 230, 230);
	color: teal;
	opacity: 0.8;
	font-size: 60px;
	text-align: center;
	width: auto;
}
.landing-content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 100%; 
	position: sticky;
	grid-template-areas: "menu scroll";
	height: 100%;
}
button.hover-menu, button.hover-menu:s {
	background-color: black;
	border: none;
}
button.hover-menu:hover {
	background-color: rgb(20,20,20);
}
button.hover-menu:

ul.menu {
	height: 100%;
	grid-column: 1;
	display: inline-block;
	text-align: center;
	height: 100%;
	position: fixed;
	top: 30%;
}
.hover-menu {
	color: white;
	display: inline-block;
	opacity: 0.9;
	width: 100%;
}
button.menu-elem {
	background-color: black;
	color: white;
	border: none;
	font-size: 30px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20%;
}



.scroll{
	background-color: rgba(250, 250, 250, 0.8);
	color: rgba(200, 200, 200, 0.0);
	grid-column: 2;
	overflow: scroll;
}*/