* {
	margin: 0px;
	padding: 0;
	box-sizing: border-box;
}
*:focus {
    outline: none;
}

body {
	background-color: black;
	font-family: Verdana; 
}

section {
	height: 100vh;
	display: block;
}

.void {
	height: 100vh;
	display: block;
	background: url(../images/SD_Dark_Color.jpeg) no-repeat fixed; 
	background-size: 100%;
}

.static {
	opacity: 0;
}

/* ///////////////////////// */
/* INTRO */
.container.intro {
	position: absolute;
    top: 38%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.intro-contain2 {
	width: 100%;
	margin-top: 50vh;
}
span.intro {
	display: block;
	text-transform: uppercase; 
}
#name-intro {
	color: #cccccc;
	font-size: 55px;
	font-weight: bold;
	margin-bottom: 0.5%;
	animation: intro 3s 1; 
}
#title-intro {
	font-size: 25px;
	font-weight: normal;
	color: #330000;
	animation: intro-title 3s 1; 
}
@keyframes intro {
	0% {
		opacity: 0;
		margin-bottom: -1%;
	}
	25% {
		opacity: 0.3;
		letter-spacing: 6px;
		margin-bottom: -1%;
	}
}
@keyframes intro-title {
	0% {
		color: transparent;
	}
	75% {
		color: transparent;
	}
}
/* ///////////////////////// */

/* ///////////////////////// */
/* NAVBAR */
.navbar {
	position: fixed;
	top: 50%;
	transform: translate(0%, -50%);
	width: 13%;
}
a.nav {
	width: 100%;
	margin-left: -50%;
	text-align: left;
	font-size: 25px;
	display: block;
	text-decoration: none;
	padding-bottom: 5%;
	padding-top: 5%;
	padding-left: 15%;
	margin-bottom: 10%;
	border-radius: 6px;
	color: transparent;
	transition: 0.5s all; 
}
a.nav:hover {
	margin-left: -10%;
	color: #ffffff;
}
.top-left {
	left: 0;
	margin-left: 5%;
	margin-top: 1%;
	position: fixed;
	width: 100%;
	overflow: hidden;
}
.name-top {
	width: auto;
	display: inline-block;
	color: #cccccc;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 0.3%;
	margin-bottom: 0.3%;
	border-bottom: 2px solid #003380;
}
.title-top {
	display: block;
	font-size: 15px;
	font-weight: normal;
	color: #330000;
}
/* ///////////////////////// */

/* ///////////////////////// */
/* CONTACT LINKS */
.contact {
	background: none;
	position: fixed;
	margin-left: 6.5%;
	bottom: 0;
	text-align: center;
}
.contact-list {
	text-align: center;
	list-style-type: none;
}
.contact-link {
	font-size: 1.8em; 
	margin-bottom: 0%;
}
.contact-logo {
	color: #bfbfbf;
	background-color: black: 
	transition: color 0.3s ease-in;
}
.contact-logo:hover {
	color: #2d5986;
}
.vertical-line {
	border-left: 1.5px solid #bfbfbf;
	height: 12vh;
	transform: translate(+50%);
	  
}
/* ///////////////////////// */

/* ///////////////////////// */
/* GENERAL SECTIONS */
.section-title {
	display: block;
	text-transform: uppercase; 
	color: #ffffff;
	font-size: 45px;
	letter-spacing: 5px;
	font-weight: 600;
	text-align: center;
	padding-top: 15%; 
}
.section-text {
	display: block;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 10%;
	color: #ffffff;
	font-size: 25px;
}
/* ///////////////////////// */

/* ///////////////////////// */
/* ABOUT SECTION */
section.about {
	height: 100vh;
	display: block;
	background: url(../images/niagara_falls_me.jpeg) no-repeat fixed; 
	background-size: 100%;
}
.about-wrapper {
	width: 40%;
	text-align: center;
	margin-right: 50%;
	margin-left: 10%;
}

p.about {
	color: black;
	width: 100%;
	margin: 0;
	padding: 0;
	margin-top: 10%;
}
/* ///////////////////////// */

/* ///////////////////////// */
/* WORK EXPERIENCE */
section.work {
	height: 100vh;
	display: block;
	background: url(../images/chicago_sunset.jpg) no-repeat fixed; 
	background-size: 100%;
}
.section-title.work {
	padding-top: 5%;
}
.work-container {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	height: 50vh;
	margin-top: 5%;
	/*background-color: green;*/
	display: grid;
	grid-template-columns: 0.25fr 4fr 16fr;
	/*grid-template-areas: 'scroll content content content content'*/
}
.cursor {
	width: 100%;
	height: 100%;
	grid-column: 1;
	background-color: red;
	margin:0;
	padding: 0;
}
.work-bar {
	grid-column: 2;
	list-style-type: none;
	/*background-color: rgba(240, 240, 240, 0.25);*/
	display: block;
	/*width: 20%;*/
	height: 100%;
	left:0;
}

button.experience-link {
	background: none;
	border: none;
	display: block;
	width: 100%;
	text-align: left;
	padding-bottom: 20%;
	padding-top: 5%;
	/*border-radius: 5px;*/

	border-left: 5px solid transparent;
	transition: border-color 0.3s ease-in;
}
button.experience-link:hover {
	background-color: #cceeff;
	opacity: 0.8;
}
.company-link {
	display: inline;
	height: 100%;
	font-family: Verdana; 
	font-size: 18px;
	padding-left: 10%;
}

.descript-container {
	grid-column: 3;
	display: block;
	height: 100%;
}
.work-descript{
	visibility: hidden;
	position: absolute;
	padding-left: 2%;
	width: 50%;
}
.company-link {
	font-family: Verdana; 
	font-size: 20px;
	margin-left: 10%;
}
.job-title, .company-name {
	font-size: 20px;
	font-weight: bold;
}
.company-name {
	color: #0077b3;
}
.work-xp-descript {
	width: 80%;
	/*margin-left: 15%;*/
	list-style-type: none;
	padding-left: 5%;
	padding-top: 2em;
}
.bullet {
	left: 5%;
	color: maroon;
	margin-right: 1em;
}
.work-bullet {
	padding-bottom: 1%;
	color: #333333;
}
a.underline {
	text-decoration: none;
}

a.underline:hover {
	text-decoration: underline;
}


#CME {
	visibility: visible;
}
/* ///////////////////////// */

/* ///////////////////////// */
/* PROJECTS */
section.projects {
	height: 100vh;
	display: block;
	background: url(../images/macbook_white_back.jpg) no-repeat fixed; 
	background-size: 100%;
}
.section-title.projects {
	color: black;
	padding-top: 5%;
}

.projects.grid {
	display: grid;
	width: 80%;

	height: 50%;

	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: repeat(3, 1fr);
	grid-area: "TempIt CountUp Yeah";
}
.projects.box {
	width: 90%;
	height: 200px;
	overflow: scroll;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
	grid-row-gap: 20px;
	background-color: #e6e6e6;
	border-radius: 5px;
	animation: shift_box_down .5s 1;
	margin-top: 0;
	opacity: 0.8;
}
.projects.box:hover {
	animation: shift_box_up .5s 1;
	margin-top: -10px;
	opacity: 1.0;
}
@keyframes shift_box_up {
	0% {
		margin-top: 0;
		opacity: 0.8;
	}
	100% {
		margin-top: -10px;
		opacity: 1.0;
	}
}
@keyframes shift_box_down {
	0% {
		margin-top: -10px;
	}
	100% {
		margin-top: 0px;
	}
}
.project.title {
	background-color: black;
	color: white;
	height: 25%;
	width: 100%;
	display: flex;
	justify-content: center; 
	align-items: center; 
	font-size: 25px;
	letter-spacing: 0.3em;
}
.project.description {
	padding: 5%;
	height: 50%;
}
.tech-used {
	display: inline-block;
	width: 80%;
	font-size: 13px;
	text-align: left;
	margin-left: 5%;
	color: #2d5986;
}
.project-link {
	display: inline-block;
	font-size: 25px;
	text-align: right;
}
/* ///////////////////////// */

/* ///////////////////////// */
/* CAROUSEL */
section.pictures {
	background: url(../images/plain_sunset.jpg) no-repeat fixed;
	background-size: 100%;
}
.section-title.pictures {
	padding-top: 5%;
}
.carousel-container {
	position: relative;
	/*height: 70%;*/
	width: 100%;
	min-height: 50vh;
	margin-top: 4%;
	margin-left: 20%;
	margin-right: auto;
	margin-left: auto;
}

.image-fade {
	width: 28%;
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity 0.2s ease;
	opacity: 0;
	left: 0; 
	right: 0; 
	margin-left: 15%; 
	margin-right: auto; 
}
.image-fade.horizontal {
	width: 35%;
	margin-left: 10%;
}
.img-carousel {
	width: 100%;
	z-index: 1;
	border-radius: 2%;
    overflow: hidden;
    border: 3px solid #bfbfbf;
    margin-top: auto;
    margin-bottom: auto;
}
#first-carousel {
	opacity: 1;
}

a.prev, a.next {
	z-index: 2;
	top: 50%;
	font-size: 20px;
	color: white;
	position: absolute;
}
a.prev {
	opacity: 1;
	left: 0;
}
a.next {
	right: 0;
}

#GoogleMap {

	height: 50vh;  
    width: 30%;  
    border-radius: 5px;
    margin-left: 55%;
    margin-top: 10vh; 
    position: absolute;
}

/* ///////////////////////// 

/* ///////////////////////// */
/* OTHERS */



footer {
	bottom: 0;
	padding-top: 3%;
	padding-bottom: 3%;
	background-color: #a6a6a6;
	text-align: center;
}
/* ///////////////////////// */



