* {
	margin: 0px;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	font-family: Verdana; 
}
.void {
	height: 100vh;
	display: block;
	background: url(../images/SD_Dark_Color.jpeg) no-repeat fixed; 
	background-size: 100%;
}

.static {
	opacity: 0;
}
.container.intro {
	text-align: center;
	display: block; 
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

span.intro {
	display: block;
	text-transform: uppercase; 
}
#name-intro {
	color: #cccccc;
	font-size: 55px;
	font-weight: bold;
	margin-bottom: 0.5%;
	animation: intro 3s 1; 
}
#title-intro {
	font-size: 25px;
	font-weight: normal;
	color: #330000;
	animation: intro-title 3s 1; 
}
@keyframes intro {
	0% {
		opacity: 0;
		margin-bottom: -1%;
	}
	25% {
		opacity: 0.3;
		letter-spacing: 6px;
		margin-bottom: -1%;
	}
}
@keyframes intro-title {
	0% {
		color: transparent;
	}
	75% {
		color: transparent;
	}
}

.navbar {
	position: fixed;
	top: 50%;
	transform: translate(0%, -50%);
	width: 13%;
}
a.nav {
	width: 100%;
	margin-left: -50%;
	text-align: left;
	font-size: 25px;
	display: block;
	text-decoration: none;
	padding-bottom: 5%;
	padding-top: 5%;
	padding-left: 15%;
	margin-bottom: 10%;
	border-radius: 6px;
	color: transparent;
	transition: 0.5s all; 
}
a.nav:hover {
	margin-left: -10%;
	color: #ffffff;
}
.top-left {
	left: 0;
	margin-left: 5%;
	margin-top: 1%;
	position: fixed;
	width: 100%;
	overflow: hidden;
}
.name-top {
	width: auto;
	display: inline-block;
	color: #cccccc;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 0.3%;
	margin-bottom: 0.3%;
	border-bottom: 2px solid #003380;
}
.title-top {
	display: block;
	font-size: 15px;
	font-weight: normal;
	color: #330000;
}
/* ///////////////////////// */
/* CONTACT LINKS */
.contact {
	background: none;
	position: fixed;
	margin-left: 6.5%;
	bottom: 0;
	text-align: center;
}
.contact-list {
	text-align: center;
	list-style-type: none;
}
.contact-link {
	font-size: 1.8em; 
	margin-bottom: 0%;
}
.contact-logo {
	color: #bfbfbf;
	background-color: black: 
}
.vertical-line {
	border-left: 1.5px solid #bfbfbf;
	height: 12vh;
	transform: translate(+50%);
	  
}

/* ///////////////////////// */


.section-title {
	display: block;
	text-transform: uppercase; 
	color: #ffffff;
	font-size: 45px;
	letter-spacing: 5px;
	font-weight: 600;
	text-align: center;
	padding-top: 15%; 
}
.section-text {
	display: block;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 10%;
	color: #ffffff;
	font-size: 25px;
}

section.about {
	height: 100vh;
	display: block;
	background: url(../images/niagara_falls_me.jpeg) no-repeat fixed; 
	background-size: 100%;
}
.about-wrapper {
	width: 40%;
	text-align: center;
	margin-right: 50%;
	margin-left: 10%;
}

p.about {
	color: black;
	width: 100%;
	margin: 0;
	padding: 0;
	margin-top: 10%;
}

section.work {
	height: 100vh;
	display: block;
	background: url(../images/chicago_sunset.jpg) no-repeat fixed; 
	background-size: 100%;
}
.section-title.work {
	padding-top: 5%;
}
.work-container {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	height: 50vh;
	margin-top: 5%;
	background-color: green;
}
.work-bar {
	list-style-type: none;
	background-color: red;
	display: inline-block;
	width: 20%;
	height: 100%;
	left:0;
}

button.experience-link {
	background: none;
	border: none;
	display: block;
	width: 100%;
	text-align: left;
	margin-bottom: 20%;

}
.company-link {
	font-family: Verdana; 
	font-size: 20px;
	margin-left: 10%;
}


section.projects {
	height: 100vh;
	display: block;
	background: url(../images/macbook_white_back.jpg) no-repeat fixed; 
	background-size: 100%;
}
.section-title.projects {
	color: black;
	padding-top: 5%;
}

.projects.grid {
	display: grid;
	width: 80%;

	height: 50%;

	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: repeat(3, 1fr);
	grid-area: "TempIt CountUp Yeah";
}
.projects.box {
	width: 90%;
	height: 200px;
	overflow: scroll;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
	grid-row-gap: 20px;
	background-color: #e6e6e6;
	border-radius: 5px;
	animation: shift_box_down .5s 1;
	margin-top: 0;
	opacity: 0.8;
}
.projects.box:hover {
	animation: shift_box_up .5s 1;
	margin-top: -10px;
	opacity: 1.0;
}
@keyframes shift_box_up {
	0% {
		margin-top: 0;
		opacity: 0.8;
	}
	100% {
		margin-top: -10px;
		opacity: 1.0;
	}
}
@keyframes shift_box_down {
	0% {
		margin-top: -10px;
	}
	100% {
		margin-top: 0px;
	}
}
.project.title {
	background-color: black;
	color: white;
	height: 25%;
	width: 100%;
	display: flex;
	justify-content: center; 
	align-items: center; 
	font-size: 25px;
	letter-spacing: 0.3em;
}
.project.description {
	padding: 5%;
	height: 50%;
}
.tech-used {
	display: inline-block;
	width: 80%;
	font-size: 13px;
	text-align: left;
	margin-left: 5%;
	color: #2d5986;
}
.project-link {
	display: inline-block;
	font-size: 25px;
	text-align: right;
}
